@* Generator : Template TypeVisibiity : Public GeneratePrettyNames: true Namespace: CodeFactory.Ebook  *@
@functions {public CodeFactory.Ebook.TableOfContents Model {get;set;} }

<html>
<head>
    <title>@Model.Title</title>
</head>
<body>
    <div>
        <h1>
            <b>TABLE OF CONTENTS</b>
        </h1>
        @foreach (CodeFactory.Ebook.ContentItem item in Model.Contents)
        {
            <b>@item.Category</b>
            <ul><li><a href="@item.Reference">@item.Title</a></li></ul> 
        }
    </div>
</body>
</html>